@model StoreApp.WebApp.Models.LocationViewModel

@{
    ViewData["Title"] = "Orders";
    var orders = (List<OrderViewModel>)ViewData["Orders"];
}

<h1>@Model.Name Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Time
            </th>
            <th>
                Items
            </th>
            <th>
                Total
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in orders)
    {
        <tr>
            <td>
                @item.Customer.FirstName @item.Customer.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @foreach (var product in item.Items)
                {
                    @:@(product.Value + " " + product.Key.Name + "(s)") - @(string.Format("{0:C2}", (product.Key.Price*product.Value)))<br />
                }
            </td>

            <td>
                @string.Format("{0:C2}", OrderViewModel.getPrice(item.Items))
            </td>
        </tr>
    }
</table>

<div>
    <a asp-action="Index">Back to Locations</a>
</div>
