@model IEnumerable<StoreApp.WebApp.Models.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Index</h1>

<p>
    <a asp-action="Create">Create Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Location
            </th>
            <th>
                Time
            </th>
            <th>
                Items
            </th>
            <th>
                Total
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Customer.FirstName @item.Customer.LastName
            </td>
            <td>
                @item.Location.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @foreach (var product in item.Items)
                {
                    @:@(product.Value + " " + product.Key.Name + "(s)") - @(string.Format("{0:C2}", (product.Key.Price*product.Value)))<br />
                }
            </td>
                
            <td>
                @string.Format("{0:C2}", OrderViewModel.getPrice(item.Items))
            </td>
            <!--
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>-->
        </tr>
}
    </tbody>
</table>
